<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="animation.rpires.com.br.exemplosmaterialdesign">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ToolbarSocialActivity" />
        <activity
            android:name=".activity.BotaoCustomizadoActivity"
            android:label="@string/title_activity_botao_customizado"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.transition.SlideTransitionActivity"
            android:label="@string/title_activity_slide_transition"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.transition.FadeTransitionActivity"
            android:label="@string/title_activity_fade_transition"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.transition.ListaTransitionsActivity"
            android:label="@string/title_activity_lista_transitions"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.transition.TransitionActivity1" />
        <activity android:name=".activity.transition.TransitionActivity2" />
        <activity android:name=".activity.transition.TransitionActivity3" />
        <activity android:name=".activity.transition.SharedElementActivity" />
        <activity android:name=".activity.transition.AnimationsActivity1" />
        <activity android:name=".activity.transition.AnimationsActivity2" />
        <activity android:name=".activity.transition.RevealActivity" />
        <activity android:name=".activity.transition.SwitchThemeActivity" />
        <activity android:name=".activity.transition.MudancaLayoutActivity" />
        <activity android:name=".activity.transition.MudancaLayoutActivity1" />
        <activity android:name=".activity.transition.MudancaLayoutActivity1_2" />
        <activity android:name=".activity.transition.MudancaLayoutActivity2" />
        <activity android:name=".activity.transition.MudancaLayoutActivity2_1" />
        <activity android:name=".activity.MenuSlidingActivity" />
        <activity android:name=".activity.PinCollapsingToolbarLayoutActivity" />
        <activity android:name=".activity.ParallaxCollapsingToolbarLayoutActivity" />
        <activity android:name=".activity.CustomCollapsingToolbarLayoutActivity" />
        <activity android:name=".activity.TabCollapsingToolbarLayoutActivity" />
        <activity android:name=".activity.MapaSimplesActivity"></activity>
    </application>

</manifest>